@tailwind utilities;
@tailwind base;
@tailwind components;

/* gg-sans */
@font-face {
    font-family: "ggsans-Medium";
    src: url(./fonts/gg-sans/ggsans-Medium.ttf);
}
@font-face {
    font-family: "ggsans-Bold";
    src: url(./fonts/gg-sans/ggsans-Bold.ttf);
}
@font-face {
    font-family: "ggsans-Normal";
    src: url(./fonts/gg-sans/ggsans-Normal.ttf);
}
@font-face {
    font-family: "ggsans-Semibold";
    src: url(./fonts/gg-sans/ggsans-Semibold.ttf);
}

/* Ginto */

@font-face {
     font-family: "Ginto-300";
     src:url(./fonts/Ginto/Ginto-300.woff)
}

@font-face {
     font-family: "Ginto-400";
     src:url(./fonts/Ginto/Ginto-400.woff)
}
@font-face {
     font-family: "Ginto-500";
     src:url(./fonts/Ginto/Ginto-500.woff)
}
@font-face {
     font-family: "Ginto-600";
     src:url(./fonts/Ginto/Ginto-600.woff)
}
@font-face {
     font-family: "Ginto-700";
     src:url(./fonts/Ginto/Ginto-700.woff)
}

/* Ginto-Nord */
@font-face {
     font-family: "Ginto-Nord-500";
     src:url(./fonts/Ginto-NOrd/Ginto-Nord-500.woff)
}
@font-face {
     font-family: "Ginto-Nord-600";
     src:url(./fonts/Ginto-Nord/Ginto-Nord-600.woff)
}
@font-face {
     font-family: "Ginto-Nord-700";
     src:url(./fonts/Ginto-Nord/Ginto-Nord-700.woff)
}

/* Whitney */

@font-face {
    font-family:"Whitney-300";
    src: url(./fonts/Whitney/Whitney-300.woff);
}
@font-face {
    font-family:"Whitney-400";
    src: url(./fonts/Whitney/Whitney-400.woff);
}
@font-face {
    font-family:"Whitney-500";
    src: url(./fonts/Whitney/Whitney-500.woff);
}
@font-face {
    font-family:"Whitney-600";
    src: url(./fonts/Whitney/Whitney-600.woff);
}
@font-face {
    font-family:"Whitney-700";
    src: url(./fonts/Whitney/Whitney-700.woff);
}